.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background-color: #fbf5e5; /* Subtle background */
}


.mission_button {
    background-color: #95c4d4; 
}
  

.bottom_navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
    padding: 10px 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}