.imageContainer {
    width: 320px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20px;
}

.icon {
    width: 25px;
}

.commentIcon {
    width: 22px;
}



.uploadedImage {
    width: 300px;
    height: auto; /* Adjusts height proportionally to maintain aspect ratio */
    border-radius: 10px; /* Matches the button's border radius */
    display: block; /* Ensures proper centering */
    margin-top: 10px;
}



.likeContainer {
    display: flex;
	justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.liked i {
    color: red;
    font-size: 24px;
    transition: transform 0.2s;
}

.unliked i {
    color: #c7d2d8;
    font-size: 24px;
    transition: transform 0.2s;
}

.liked i:hover, 
.unliked i:hover {
    transform: scale(1.2);
}

.iconContainer {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    gap: 10px;
    width: 90%;
    margin-top: 10px;
}

.commentSection {
    width: 95%;
    display: flex;
    gap: 10px;
    background-color: #d9d9d9;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .commentInput {
    flex: 1;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: none; 
    font-family: 'DNFBitBitv2';
    color: #9da1a3;
    font-size: 14px; 
    padding-left: 15px;
  }

  /* Placeholder styles */
.commentInput::placeholder {
    color: white; 
    font-size: 14px; 
    font-family: 'DNFBitBitv2';
  }
  
  .submitButton {
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .commentList {
    width: 95%;
    border-radius: 10px;
    overflow-y: auto;
    border-radius: 5px;
    padding: 5px;
  }
  
  .comment {
    padding: 5px;
    border-radius: 10px;
    background-color: #f3f3f3;
    color: #9da1a3;
    margin-bottom: 5px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding-left: 20px;
  }

  .color {
    color: #B9C3C7;
  }

  .comment:last-child {
    border-bottom: none;
  }