.frame {
    width: 330px; 
    background-color: #ffffff; 
    color: #707070; 
    font-family: 'DNFBitBitv2', sans-serif; 
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    padding: 10px; 
}
