.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background-color: #fbf5e5; /* Subtle background */
<<<<<<< HEAD
    overflow: auto; /* Allows scrolling */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
    
}


  
  .frame::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome/Safari */
  }
  
=======
}
>>>>>>> 16df5de9632931333947c40843a50a70e1dde398
