.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100vh; 
  background-color: #fbf5e5;
  overflow-y: scroll; 
  padding-bottom: 80px; 
}

/* WebKit Browsers (Chrome, Edge, Safari) */
body::-webkit-scrollbar, .frame::-webkit-scrollbar {
  width: 0;
  height: 0; 
  display: none;
}


.innerframe1 {
  margin-top: 20px;
}

.innerframe2 {
  margin-top: 10px;
}

.innerframe3 {
  margin-top: 10px;
  margin-bottom: 300px;
}